[2017-11-21 18:25] appcenter[bot] opened #1 "Failed to build with liftoff"
AppCenter failed to build with liftoff.

<details>
<summary> Build Log </summary>

[code]

</details>

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.1.0 release](https://github.com/bitseater/weather/releases/tag/0.1.0)

[2017-11-21 19:47] bitseater commented on #1
Modify debian/control file to resolve dependencies.

[2017-11-21 19:47] #1 closed

[2017-11-21 19:53] appcenter[bot] opened #2 "Invalid AppData file"
AppCenter Dashboard ran `appstreamcli validate` on your project's `.appdata.xml` file and
received the following errors:
[code]

---

For more information, see:
- [The AppStream Quickstart Guide](https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html)
- [The AppStream Metadata Specification](https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html)

If you need help

[2017-11-21 20:12] #2 closed

[2017-11-21 20:16] appcenter[bot] opened #3 "Missing AppStream changelog"
AppCenter uses the AppStream release description to display changes for the end
user. Please provide a description for each of your releases.

For more information, please look at the
[appstream documentation](https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html).

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Aff

[2017-11-21 20:29] #3 closed

[2017-11-24 18:05] cassidyjames opened #4 "Can't change OpenWeatherMap API key once set"
If you're going to allow users to set their own OpenWeatherMap API key in the first place, they should probably be able to change it later in case the old key becomes defunct or throttled.

[2017-11-24 18:06] cassidyjames opened #5 "Can't distinguish between cities of the same name"
It looks like there are multiple Denver, USAs (i.e. in different states). It makes it hard to distinguish which is the one I want; perhaps showing the state name (if available through the API) or showing them on a map would help users narrow it down?

[2017-11-24 18:06] cassidyjames opened #6 "Use my location by default"
Instead of making me search for a city the first time, it'd be nice to use some sort of geolocating to use the closes detected city by default.

[2017-11-24 18:08] cassidyjames opened #7 "Detect units from the system locale"
Instead of having users set the units (metric/imperial), this information should be pulled from the OS.

[2017-11-24 18:09] cassidyjames opened #8 "Use time settings from the system"
Right now it looks like times are in 24 hour time (i.e. 18:00). Instead, you should detect the time settings from the OS.

[2017-11-24 18:10] cassidyjames opened #9 "Use cardinal directions instead of degrees for wind dir"
Wind dir is being reported in degrees, which is awkward in my opinion. Instead, it might be more useful to map that to cardinal directions like N, NE, E, SE, S, SW, W, NW.

[2017-11-24 21:06] bitseater commented on #8
Solved with `Settings("org.gnome.desktop.interface")`.

[2017-11-24 21:06] #8 closed

[2017-11-24 21:45] bitseater commented on #5
Hi Cassidy. This is a limitation of the OWM API that I just discovered (I live in a country that puts a tagline to the cities with the same name, like _Talavera La Real_ vs _Talavera de la Reina_). The only way to distinguish the cities is through their coordinates. I'm going to try to implement a map overlay on mouse over TreeView.

[2017-11-25 14:25] bitseater commented on #9
Got it!
[code]

[2017-11-25 14:25] #9 closed

[2017-11-25 14:38] aggalex opened #11 "Icon looks off"
The icon of the app looks ugly and does not follow the elementary OS guidelines.

[2017-11-25 14:48] bitseater commented on #11
Resolved by #10.

[2017-11-25 14:48] #11 closed

[2017-11-25 18:16] #4 closed

[2017-11-26 15:50] bitseater commented on #5
Improved new vision map with Clutter and Champlain to select between city with the same name.

[2017-11-26 15:50] #5 closed

[2017-11-26 20:20] bitseater commented on #6
In order to catch my location by default, it should be used the geoclue-2.0 library, like Daniel Foré's [Nimbus](https://github.com/danrabbit/nimbus) do. This library is used by gweather-3.0 to know weather conditions from near station of various providers to this location. These stations are different from OpenWeatherMap, which uses stations of individuals all over the world, following the open d

[2017-11-27 19:21] kensully opened #12 "can not find `ValaConfig.cmake vala-config.cmake` error on Ubuntu 16.04"
First of all, thanks for your work. I am running Ubuntu 16.04, I tried to build it but I got the error below:

         CMake Error at CMakeLists.txt:33 (find_package):
           By not providing "FindVala.cmake" in CMAKE_MODULE_PATH this project has
           asked CMake to find a package configuration file provided by "Vala", but
           CMake did not find one.

           Could not find a

[2017-11-27 19:30] bitseater commented on #12
Thanks for download, try and report the issue, @kensully . Your can add the elementary-os repos from `ppa:elementary-os/stable` . I'll change README.md in the next commit.

[2017-11-30 19:57] cassidyjames commented on #6
I'm not sure about the weather data itself; that might be up to you and the quality of the data. But it would be useful regardless to be able to use the nearest city/station by default. Whether that's by using GWeather, or just GeoClue and cross-referencing GPS coordinates with OWM is up to you.

[2017-12-01 21:04] cassidyjames commented on #7
Yeah, Imperial units are kind of crazily named like that. 😁

[2017-12-04 17:13] cassidyjames opened #15 "Move city map to popover"
I like that I can now distinguish between cities of the same name with a map; great work! I do think it's a little awkward that it opens in a whole new window, though, and just kind of hangs around forever. Instead, would it be possible to put it into a popover?

That way you could also add a `.suggested-action` button to the primary position in the popover, and use it as a confirmation (instead o

[2017-12-04 17:32] cassidyjames opened #17 "Redesign "new location" screen"
This would be a pretty substantial redesign for this screen, but I think it would help focus on the information that matters in a more visually pleasing way.

[code]

[2017-12-04 17:32] cassidyjames commented on #17
Then clicking on the map preview could show the popover described in #15

[2017-12-04 17:37] cassidyjames commented on #17
To describe the ASCII sketch in prose,

- Put the location search entry in the headerbar
- Show a small/medium-sized map preview next to each location, zoomed to a level that makes it relatively easy to confirm the location visually
- Clicking the map shows the popover with a much larger map
- Add a Select button in each row to make choosing a city a single-click operation
- Add the state/region t

[2017-12-04 20:01] bitseater commented on #15
Hello @cassidyjames . I have think about _revealers_, but yours sound a good idea. Saved.

[2017-12-04 20:17] bitseater commented on #17
Actually, i'm working in Geoclue & OWM integration, you know. With it , we can modify this screen. Thanks for your comments and suggestions.

[2017-12-04 23:07] bitseater commented on #12
Hello @kensully . I have added cmake files and support for Debian / Ubuntu. Thanks for your help.

[2017-12-04 23:07] #12 closed

[2017-12-05 22:36] bitseater commented on #17
I have the screen and the search engine with geocode-glib . Take a look at:

[searchcity.vala](
https://gist.github.com/bitseater/22489cf0f3d28c32509969b6b3ad10a7)

Working now on maps inside popovers ...

[2017-12-06 22:20] bitseater commented on #15
Resolved with commit 41

[2017-12-06 22:20] #15 closed

[2017-12-06 22:21] bitseater commented on #17
Solved with commit 41

[2017-12-06 22:21] #17 closed

[2017-12-06 23:40] cassidyjames opened #18 "Consider changing name"
"Weather" is super generic, and doesn't really explain what the app does. According to our [publishing guidelines](https://github.com/elementary/houston/wiki/Before-You-Publish#naming), you should avoid overly-generic names.

Something like "Forecast" might be more accurate and descriptive. Note: you can rename the user-facing .desktop and AppData strings without changing the RDNN (as you can't ch

[2017-12-07 21:35] bitseater opened #19 "Select type of weather icons"
Show selector in preferences, allowing users to choice between symbolic or realistic icons.

[2017-12-08 14:39] bitseater commented on #19
Fixed in Release 0.40

[2017-12-08 14:39] #19 closed

[2017-12-08 14:40] bitseater commented on #6
Fixed in Release 0.40

[2017-12-08 14:40] #6 closed

[2017-12-09 01:44] jhonasn opened #20 "Icon vanished"
The application icon gone away with the last update

[2017-12-09 03:51] bitseater commented on #20
Fixed on new release 0.4.1. Pending AppCenter approval. Thanks you for support.

[2017-12-09 03:51] #20 closed

[2017-12-09 12:51] Leehnux opened #21 "Missing icon"
Missing icon in Applications as well as App Center after update to 0.4.0.

[2017-12-09 12:54] bitseater commented on #21
Thanks @Leehnux . Reported in #20 , fixed and submitted to AppCenter a new release.

[2017-12-09 12:54] #21 closed

[2017-12-09 17:35] jhonasn commented on #20
Thank you!

[2018-01-19 18:29] btd1337 opened #24 "Wingpanel Indicator"
It's a great idea to create a wingpanel indicator to your application. It consider this.

[2018-01-19 21:09] bitseater commented on #24
This is planned in a next version. You can see roadmap at [Wiki section](https://github.com/bitseater/weather/wiki).

[2018-01-27 03:39] altntowin opened #25 "could you make a flatpak for weather?"
Hi, I really appreciate your work , is a good application
but i don't use elementary OS
could you make a flatpak for weather?
in this way, users can install the application in any linux distribution

please.
thank you.

[2018-01-31 04:16] ariant-web opened #26 "Russian text problem"
Please fix this:
![w](https://user-images.githubusercontent.com/20294256/35604994-6f781088-0667-11e8-9729-60578d358b82.jpg)

[2018-02-01 19:46] bitseater commented on #24
Indicator developed. You can see it in 0.5 version, which will be released soon

[2018-02-01 19:46] #24 closed

[2018-02-01 20:14] bitseater commented on #26
There was a problem when pass to uppercase the first character of the string with Cyrillic characters. I solved it for Russian language. It will be included in 0.5 version, released next week (i hope).
Thanks for your contribution.

[2018-02-01 20:14] #26 closed

[2018-02-02 08:51] corebots commented on #25
A flatpak would be nice indeed!

[2018-02-03 18:49] khurshid-alam opened #27 "Add indicator support"
A indicator based on libapppindicator would be nice. When clicking on indicator it should open the main app.

Something like this.
![indicator-weather2](https://user-images.githubusercontent.com/1333217/35770420-e7a5bc28-0940-11e8-9b90-0af455cb6110.png)

[2018-02-03 18:51] khurshid-alam opened #28 "Use local cache"
It would be nice if the app can use a local cache, i.e. weather data stored in a local file. It could be a simple database or even a simple json file.

Thanks.

[2018-02-03 19:12] bitseater commented on #28
Hi @khurshid-alam . Are you talking about saving each query to local database? or some of them? OpenWeatherMap API have an option to query historical data, but it's to expensive for normal users. The Term of Use of this API warns about keeping information historical to offer to users. I try to find another solution, preferably for free.

[2018-02-03 19:16] bitseater commented on #27
It just developed and it comes with others features in 0.5 version, available in the next 2 weeks. You can take a look to [ROADMAP](https://github.com/bitseater/weather/wiki) or perhaps you want to see this video: https://youtu.be/gsEAK9Puua4

[2018-02-03 19:22] khurshid-alam commented on #28
No, not the entire weather history, some of them. I am talking about only current weather data...(and not all the data type but the most important one like temp, humidity, etc). Every-time the app updates the weather it should save/overwrite the data to a database.

[2018-02-03 19:23] khurshid-alam commented on #27
Oh. My bad..I didn't know it was already on the roadmap! Thanks.

[2018-02-03 19:27] bitseater commented on #28
Good news @khurshid-alam . OWM accept to save the current query to local cache, in order to prevent numerous queries from same IP. I'm going to add a note to ROADMAP to include it as soon as possible.

[2018-02-03 19:29] khurshid-alam commented on #28
Awesome!

[2018-02-04 22:13] daveg208 opened #29 "UK Settings"
For reference, in the UK we tend to use Degrees C with MPH windspeed.
The settings allow for Degrees C with M/s windspeed or Degrees F with MPH, neither of which is useful.

Regards

Dave

[2018-02-04 23:39] bitseater commented on #29
Take note to add configuration. Thanks

[2018-02-06 00:54] bitseater commented on #27
Just works.

[2018-02-06 00:54] #27 closed

[2018-02-08 18:04] appcenter[bot] opened #30 "Ship a matching binary"
AppCenter has noticed you do not ship a `/usr/bin/com.github.bitseater.weather` binary file.
Please ensure your binary is named `com.github.bitseater.weather` and placed in `/usr/bin`
during the build process.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.5.0 release](https://github.com/bitseater/weather/releases/tag/0

[2018-02-08 18:25] bitseater commented on #30
Update debian folder

[2018-02-08 18:25] #30 closed

[2018-02-08 18:44] appcenter[bot] opened #31 "Failed to build with liftoff"
AppCenter failed to build with liftoff.

<details>
<summary> Build Log </summary>

[code]

</details>

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.5.1 release](https://github.com/bitseater/weather/releases/tag/0.5.1)

[2018-02-08 18:51] bitseater commented on #31
Fixed

[2018-02-08 18:51] #31 closed

[2018-02-10 18:28] danrabbit opened #33 "Use a transparent screenshot for indicator"
I've marked the 0.5.2 release as needs fixing for the following reason:

Please use a transparent screenshot to show your indicator. You can do this with the "Grab the current window" option in screenshot tool and opening the applications menu to make sure the panel is the focused window. I would recommend using a white wallpaper so that your icons adapt and are visible in AppCenter

Also please o

[2018-02-10 18:44] cassidyjames commented on #33
I also think for any indicators, the screenshots should include the indicator menu being open.

[2018-02-10 18:56] bitseater commented on #33
HI @danrabbit @cassidyjames , do you mean something like this :

[https://github.com/bitseater/weather/raw/master/data/screens/screenshot_4.png](https://github.com/bitseater/weather/raw/master/data/screens/screenshot_4.png)  ?

[2018-02-10 19:04] danrabbit commented on #33
That's much better :)

[2018-02-10 19:07] bitseater commented on #33
Gracias Dani / @danrabbit . Making a new release to send to dashboard. Thanks.

[2018-02-10 19:07] #33 closed

[2018-02-10 20:52] giovannicaligaris opened #34 "Indicator startup"
Is there a way to open the indicator without executing the app?

I would like to have the indicator launched at startup.

[2018-02-10 22:59] bitseater commented on #34
Hi @giovannicaligaris . Thanks for your suggestion. I'm working on Weather to add this feature, with many others. Added to Roadmap.

[2018-02-10 23:00] bitseater opened #35 "Block UI while http request."
Comment from G+. Change to async querys.

[2018-02-11 09:38] alex285 opened #36 "Publish on Flathub Please!"
and also change name https://github.com/bitseater/weather/issues/18 :)

[2018-02-11 11:34] bil-elmoussaoui opened #38 "Invalid appdata file"
Running `appstream-util validate` on the appdata file returns this
[code]
which makes it impossible to create a flatpak package!
Can you please fix this?

[2018-02-11 11:49] bil-elmoussaoui commented on #25
Here you go https://github.com/flathub/flathub/pull/260

[2018-02-11 11:49] bil-elmoussaoui commented on #36
See https://github.com/flathub/flathub/pull/260

[2018-02-11 11:57] bitseater commented on #36
Working on it now. Thanks again @bil-elmoussaoui

[2018-02-11 11:58] bitseater commented on #38
Working on it. Thanks.

[2018-02-11 12:05] bil-elmoussaoui opened #39 "settings a NULL value as a string"
I have just worked on creating the flatpak package! and it works correctly.

There's just a small issue with `settings.set_string("location", whatever_variable)`
Sometimes the variable is NULL which throw those warnings.

[code]
You can inherit the Settings class, and write your own getters, setters which will always check for the value type and avoid having those errors thrown on terminal !

[2018-02-11 12:08] bitseater commented on #38
Some changes are needed. Output of `appstream-util validate` :
[code]

I'm going to take a look at Appstream docs and improve this file.

[2018-02-11 12:15] bil-elmoussaoui commented on #38
You can also add https://hughsie.github.io/oars/ to the appdata file

[2018-02-11 12:16] bitseater commented on #39
Thanks @bil-elmoussaoui . I'm working on it and make async queries to API to improve the app performance. Add it to roadmap and i'll work on it.

[2018-02-11 13:30] bitseater commented on #38
bitseater@andromeda:~/NAS_drive/DEV/Proyectos/Weather/weather/data$ appstream-util validate com.github.bitseater.weather.appdata.xml
com.github.bitseater.weather.appdata.xml: OK

[2018-02-11 13:32] bitseater commented on #38
Close this. We can follow talking about flathub packaging at #36

[2018-02-11 13:32] #38 closed

[2018-02-11 14:09] bitseater commented on #36
Some errors here when i try to flatpak-build:
[code]
Any ideas ?

[2018-02-11 14:12] bil-elmoussaoui commented on #36
Have you checked my PR ? You need the two patches that I have added. libappindicator by default try to build python gobject-introspection, and there's no build flag to disable that. A patch is required to disable that

[2018-02-11 14:15] bitseater commented on #36
Ok, only add no-python.patch.

[2018-02-11 14:15] bil-elmoussaoui commented on #36
Yeah, the other patch will be removed once there's a new release! I kept it for now, just to see if the build will be successful on all the architectures supported by Flathub workers

[2018-02-11 19:13] bitseater commented on #36
Hi @bil-elmoussaoui . Same errors with two patch files. Searching for a solution i find this:

[org.telegram.desktop/libappindicator-disable-python-bindings.patch](https://github.com/flathub/org.telegram.desktop/blob/master/libappindicator-disable-python-bindings.patch)

Now i can build and run it.  Do you think is necessary all this patch file to avoid the errors above?

Sorry for my question, bu

[2018-02-11 20:28] bitseater commented on #34
Hi @giovannicaligaris . Now we have minimized on start-up option added to preferences. It will be included in the next release, or (if you don’t want to wait a few days) you can manually clone and build this repository.  Thanks for the suggestion.

[2018-02-11 20:28] #34 closed

[2018-02-11 20:32] bitseater commented on #25
Close this, cause @bil-elmoussaoui and me are working on it. See #36 for more info.

[2018-02-11 20:32] #25 closed

[2018-02-11 20:53] bitseater commented on #18
Hi @cassidyjames , @bil-elmoussaoui , @danrabbit  :

I would like to ask your opinion about the change of name. I have in mind two options : **FORECAST**, as @cassidyjames  suggested, or **METEO**, as an abbreviation for meteorology. Please, feel free to tell me other names.

On the other hand, I would like to know your expert opinion on the process of change of name. A simple change in the .deskt

[2018-02-11 21:16] giovannicaligaris commented on #34
Great! I will check it out in a few days when is available from the AppCenter.

[2018-02-12 09:34] jos-henson opened #42 "Feature Request: Launch minimised"
Hi there,

I really love the app and the rate at which you are actively developing it is really impressive.

One small feature request I was wondering if it would be possible to implement is to have the app launch minimised (e.g. just with the tray icon) by default, as I would love to have it launch at system startup without the window showing.

Just a very minor thing and probably not something t

[2018-02-12 10:29] bitseater commented on #42
Thank you very mych, @jos-henson . This features is just developed. You can see the next features in [RoadMap](https://github.com/bitseater/weather/wiki) . I hope v0.6 will be release in the next two weeks.

You will can select between to start up with o without indicator, and to start up minimized to system tray or not. All options are available in preferences window.

Thanks again for your comme

[2018-02-12 11:17] jos-henson commented on #42
Hi there,

Thank you so much for the quick response, apologies that I didn't notice this in the roadmap already!!

Quick question: Will this also prevent the application from showing in the Dock? Or is that not really possible due to the limitations of how the Dock/elementary os actually work?

Thanks again for your answer/work on this app, I already support elementary via patreon and they definit

[2018-02-12 13:05] bitseater commented on #42
Hi and yes, this prevent to show in Plank dock. Only show in dock when focus the main window of the application (data & maps). When you click on minimized, it minimized to dock. If you click on close, it minimized to indicator in wingpanel, and disappear from dock . To quit the app, you must go to indicator and choose "Quit".  If you choose not to use indicator, when you run the app, always show i

[2018-02-12 16:49] jos-henson commented on #42
Thanks and apologies again for asking a question before trying the app properly myself!!

But yes, that is all perfectly clear and it works great!

[2018-02-12 16:49] #42 closed

[2018-02-12 19:17] bil-elmoussaoui commented on #36
@bitseater The build works correctly in my case. The patch you're proposing removes a lot of stuff that shouldn't be required at all...
Anyway, we will see what the flathub builders reports back. Can you publish a new release with all those recent fixes (meson and appdata one)?
Thanks!

[2018-02-12 19:19] bil-elmoussaoui commented on #18
Changing the application name in the desktop file and the appdata file won't affect the flatpak build on flathub. As soon as you don't change the RDNN. There's no way to change/update the RDNN on flathub neither (at the moment, there's some work on that).

[2018-02-12 19:20] bitseater commented on #36
With the two files (meson-fix.patch and no-python.patch) from flathub/flathub#260 ?

[2018-02-12 19:22] bil-elmoussaoui commented on #36
Nop, there's no need for the no-python at all. The meson-fix patch is already applied on the master branch. What I meant, is a new release of the application here, on your repository. So I can update and fix the json file of flatpak package. And test it with the latest fixes

[2018-02-12 19:32] bitseater commented on #36
Hi @bil-elmoussaoui , i just have created 0.5.4 release. Thanks for your work.

[2018-02-13 08:12] bitseater commented on #29
Hi there, @daveg208 . I'm developing this feature, but i need to know others units. Please, fill free to correct me:
Temperature : ºC
Wind speed: mph
Pressure: hpa (hectopascals) ?
Precipitation : inph (inch per hour) ?
I'm waiting for your comments. Thanks.

[2018-02-13 13:46] bitseater commented on #39
Added checking when variable is null.

[2018-02-13 13:46] #39 closed

[2018-02-13 13:55] bitseater commented on #29
According to official [Meteo Service from UK Goverment](https://www.metoffice.gov.uk/about-us/units-of-measurement-faq) i assume the units marked above. New feature added and developed. Closing this issue.

[2018-02-13 13:55] #29 closed

[2018-02-13 16:49] tpimont opened #43 "Color scheme"
Coul you please make a version with color scheme for icons ?
to be happier when there are clouds :)

![image](https://user-images.githubusercontent.com/25609323/36162209-0cef5a50-10e6-11e8-9ef2-4591b911747b.png)

[2018-02-13 19:14] bitseater commented on #43
The application uses the icons provided by the elementary theme, so I can not change them (You can choose between realistic and symbolic icons in Preferences). You can choose another theme of icons, if you want.

In the future, it is expected that the application has its own theme, or the user can choose it, as can be seen in [ROADMAP](https://github.com/bitseater/weather/wiki).

Otherwise, you ca

[2018-02-13 19:14] #43 closed

[2018-02-13 21:02] giovannicaligaris opened #44 "Reload/update weather"
Sometimes when I lose internet connection at home (the worst!), the weather will either get stuck at the last digit that it was recorded or it will go to 0 degrees or sometimes it won't show anything at all.

The only way to refresh this is by closing the weather app and reopening.

This is not a big deal but it would be nice to have an option to update the weather similar to the app "my-weather-i

[2018-02-13 21:35] bitseater commented on #44
OpenWeatherMap API has a limited numbers of queries per apikey, so i removed the update button from version 0.2 to prevent apikey blocks. In the next version 0.6 it will have a cache file with the last weather conditions, to prevent this issue. I added in the last days a note to [ROADMAP](https://github.com/bitseater/weather/wiki). Thanks for your comment.

[2018-02-13 21:49] bitseater commented on #18
Hi friends. Finally I change desktop, appdata and in-app "name" strings to ... METEO.

All references to FORECAST word are in english, meanwhile METEO has meaning in other languages. You can take a look at [duckduckgo]( https://duckduckgo.com/?q=meteo) . It is also the name of several meteorological services of various countries all over the world.

So, my choose is METEO. Thanks for the suggestio

[2018-02-13 21:49] #18 closed

[2018-02-13 22:01] bil-elmoussaoui commented on #36
All we have to do is to wait for the maintainers to either approve it and create a repository for it. Or to ask for some modifications

[2018-02-14 10:00] bil-elmoussaoui commented on #36
Already there https://github.com/flathub/com.github.bitseater.weather

[2018-02-14 10:08] bitseater commented on #36
Thanks @bil-elmoussaoui . If i understood, now i have to change json file every time a push a new release in the new flathub repository (flathub/com.github.bitseater.weather). Isn't it?

[2018-02-14 10:09] bil-elmoussaoui commented on #36
Yes, with the new dependencies or just update the release tarball and the sha256 checksum :)

[2018-02-14 10:11] bitseater commented on #36
Thanks again. It has been a great help on your part.

[2018-02-15 10:44] LeandroStanger opened #46 "Support language PT-BR"

[2018-02-15 11:18] bitseater commented on #46
Olá @LeandroStanger , obrigado pelo seu comentário. Existe uma tradução para o portugues no link [pt.po](https://github.com/bitseater/weather/blob/master/po/pt.po)

Se quiser alterar alguma linha, me façam saber, se não a farei como valida para pt_BR. Obrigado.

[2018-02-15 11:59] bitseater commented on #36
Hi @bil-elmoussaoui :
[https://flathub.org/repo/appstream/com.github.bitseater.weather.flatpakref](https://flathub.org/repo/appstream/com.github.bitseater.weather.flatpakref)

Thanks.

[2018-02-15 11:59] #36 closed

[2018-02-15 12:00] bitseater commented on #25
Hi @altntowin @corebots :
https://flathub.org/repo/appstream/com.github.bitseater.weather.flatpakref
Greetings.

[2018-02-15 12:57] alex285 opened #47 "Flatpak build doesnt start"
i installed Meteo
[code]

but when i try to run it
[code]
nothing is happening! i can see the process running, but there is not app, and nothing on output. @bil-elmoussaoui

Ubuntu 18.04/ Flatpak 0.11.1

[2018-02-15 13:13] MrMarukesu opened #48 "Error with Portuguese Language"
I'm using the appcenter version (0.5.3) and seem that a error making the weather using the Pt mixed with En. like in the image
![screenshot from 2018-02-15 11 07 20](https://user-images.githubusercontent.com/21296444/36258250-29a8b96e-1241-11e8-9497-de89cfb90747.png)

[2018-02-15 13:28] LeandroStanger commented on #46
![captura de tela 4de 2018-02-15 11-19-34](https://user-images.githubusercontent.com/26097419/36258804-3ff6350a-1243-11e8-98fc-f8fed6d134cf.png)
![captura de tela de 2018-02-15 411-19-08](https://user-images.githubusercontent.com/26097419/36258805-402d01b6-1243-11e8-858a-254b941af88f.png)

[2018-02-15 19:37] kensully opened #49 "wind speed map disappears in Dark Sky mode in flatpak"
Thank you for developing this application. I am running Ubuntu 16.04, I installed it via flathub. When I launch it, it is running well except wind speed map disappears in Dark Sky mode. It loads the map but it disappears immediately leaving window tab blank.

[2018-02-15 20:37] bitseater commented on #47
Hi @alex285. It seems something about flatpak and wayland support. I'm going to prepare a environment with them and Ubuntu 18.04 to test the app and debug it.

[2018-02-15 20:41] bitseater commented on #49
Hi @kensully , thanks for your comment. It's seems something about flatpak and wayland. I'm making some tests to debug the flatpak package.

[2018-02-16 04:25] alex285 commented on #47
@bitseater ah sorry i didnt mention before, but i use Xorg
also, at some point it opened a blank window. same as the other guy said on G+

[2018-02-16 10:02] bil-elmoussaoui commented on #47
It does work on my laptop without any issue at all...

[2018-02-16 10:22] kensully commented on #49
Hi @bitseater , thank you for responding. I am using Xorg, not wayland. All the other maps work except `wind speed map`

[2018-02-16 12:37] bitseater commented on #44
Developed. Now you will have an update button if you have your own API key.

[2018-02-16 12:37] #44 closed

[2018-02-16 12:39] bitseater commented on #49
It's seems some problem in the Dark Sky side. Can you try again ??

[2018-02-16 14:23] kensully commented on #49
I tried it again, `Temperature`, `Clouds`, `Precipitation`, `Pressure` tabs loads well. but when I click the final `Wind Speed` tab,  its content disappears as soon as it loads the wind map. It doesn't seem to be rendering issue, wrong or missing loop check?

[2018-02-16 14:55] kensully commented on #49
I don't know if it's related, I get
      * (com.github.bitseater.weather:2): CRITICAL **: string_substring: assertion '(_tmp17_ + _tmp18_) <= _tmp19_' failed

error from terminal

[2018-02-16 17:28] bitseater commented on #48
Some string are missing in the portuguese language file (pt.po). I just translated them and commit to new release in this weekend. Thanks for your comment.

[2018-02-16 17:30] bitseater commented on #46
A new pt_BR language file is just translated. I will commit it to new release in this weekend. Thanks for your comment.

[2018-02-16 17:32] bitseater commented on #49
Ok Thanks @kensully . It's related. Preparing a patch to solve it. Thanks again.

[2018-02-16 20:25] altntowin commented on #25
Thanks :)

[2018-02-17 00:32] alex285 commented on #47
@bitseater i run it on Arch Linux, and i think i figured out the issue. when the app starts, it starts hidden, and i had to use the indicator to show it

on Ubuntu thought the indicator wasnt visible, or i didnt notice it. on elementary Juno, i think the indicator isn't event working

[2018-02-17 00:35] bitseater commented on #47
Yes @alex285 . All it's about lib-indicator package. It isn't support in Flatpak, cause it hasn't supported in Fedora/Gnome, so ... it need a patch to work, but you cannot initialize the app minimized, so i must to change some default setting. I am working in a new release (appcenter, ppa y flatpak package) to commit this weekend.

[2018-02-17 02:59] bitseater commented on #47
@alex285,  i try it in ubuntu 18.04 with ubuntu appindicator extension and it works. In Juno 'alpha' don't work, i tried it last afternoon. So i'm planning to eliminate libindicator (no supported by Flatpak, nor Gnome nor Fedora) and make a release for Flatpak without libappindicator and other release for elementary-os / wingpanel support.

[2018-02-17 19:36] alex285 commented on #47
@bitseater just to understand. you will remove the indicator, so when you close the app from {x}
1. the app will shutdown
2. or the app will still run on background? and there will be a quit button to exit?

[2018-02-18 01:10] bitseater commented on #47
@alex285 I've got the indicator work in Juno "alpha" with ayatana indicators. Now i need to make work on Gnome, to Ubuntu 18.04-Gnome-Fedora-Flatpak..... I will try again.

[2018-02-19 19:53] bitseater commented on #28
I have added a simple screen with current weather data , showing a cache file with them. You can copy and paste these data, or you can save the cache file to another folder. In next release, I will develop this feature more deeply.

[2018-02-19 19:53] #28 closed

[2018-02-19 19:55] bitseater commented on #28
@khurshid-alam , a simple view of data to copy and paste, to the next release. More features in the future. I close this issue.

[2018-02-20 01:40] bitseater commented on #48
New pt_PT.po file.

[2018-02-20 01:40] #48 closed

[2018-02-20 01:41] bitseater commented on #46
Added new pt_BR.po file.

[2018-02-20 01:41] #46 closed

[2018-02-20 01:42] bitseater commented on #47
New gresource file with start no minimized and no indicator, to avoid flatpak issue.

[2018-02-20 01:42] #47 closed

[2018-02-20 08:40] khurshid-alam commented on #28
@bitseater In case of offline will it use that cache data? I think it describes the problem in another issue.

[2018-02-20 16:24] bitseater commented on #28
Yes @khurshid-alam it will use the cache data in the next releases. Now i must fix some issues as soon as possible , for people who use Flatpak, so i need to commit a new release in these days.

[2018-02-20 19:34] bitseater commented on #49
Related with #28 . Possible solution: Parse JSON data and show cache data when no connect.

[2018-02-20 19:58] bitseater opened #50 "Load from cache when no connect"
Actually , Meteo show null o zero when can connect to internet/API server. Use cache file to show information of the last connection to API server.

[2018-02-21 20:27] appcenter[bot] opened #51 "Unable to communicate with elementary repository API"
Houston was unable to communicate with elementary's repository, and therefor
unable to publish your files in the testing repository. Please re-run houston,
or contact a Houston developer for help.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.6.0 release](https://github.com/bitseater/weather/releases/tag/0.6.0)

[2018-02-21 21:23] LeandroStanger commented on #48
![captura de tela de 2018-02-21 18-22-34](https://user-images.githubusercontent.com/26097419/36506057-38d51cf0-1734-11e8-8edd-5cb1f4c1ab7b.png)

[2018-02-21 22:10] bitseater commented on #48
I just publish a new release (0.6.0) 2 hours ago. Is it all Ok now? If you see some mistake, just put here the correct translation. Thanks.

[2018-02-22 00:02] bitseater commented on #51
Solved

[2018-02-22 00:02] #51 closed

[2018-02-22 21:58] Shnatsel opened #52 "Clicking "Maps" before entering API key breaks the app"
Steps to reproduce:

1. Install Weather for the first time
1. Click "Maps" before entering OpenWeatherMap API key
1. Switch back to "Data"

This results in the following application state with no clear recovery route:

![screenshot from 2018-02-23 00-54-54](https://user-images.githubusercontent.com/291257/36566413-7b44baf4-1834-11e8-8623-d4c6cf39694d.png)

The Maps/Data switcher should be insensit

[2018-02-22 22:01] Shnatsel opened #53 "API key prompt is never explained"
When a new user opens the app, there is no explanation of why they're prompted with an API key and what the consequences of each choice would be:

![screenshot from 2018-02-23 00-59-15](https://user-images.githubusercontent.com/291257/36566516-c9184642-1834-11e8-9c03-dcbdf0fa6fd4.png)

It should be explained what entering a custom API key does, or why is it needed.

[2018-02-23 00:35] bitseater commented on #52
Thanks for your post @Shnatsel . Are you using flatpak package or appcenter installation?

[2018-02-23 00:37] bitseater commented on #53
Adding "help section" to roadmap. Thanks for the submission.

[2018-02-23 00:45] bitseater commented on #52
Confirmed in both builds (flatpak & appcenter).

[2018-02-23 01:36] bitseater commented on #52
Fixed with [this commit](https://github.com/bitseater/weather/commit/05724fc4892ef4a1843ea5543e778b25a87fa9a3)

[2018-02-23 01:36] #52 closed

[2018-02-24 17:09] danrabbit opened #54 "0.6.0 Needs Fixing"
I've marked the 0.6.0 release as "Needs Fixing" in AppCenter because of the changes to screenshots. Please use transparent screenshots and make sure that the window has input focus so that it doesn't use the `:backdrop` styling

[2018-02-24 19:16] bitseater commented on #54
Fixed.

[2018-02-24 19:16] #54 closed

[2018-02-28 16:16] cicindel opened #55 "Refresh icon colour"
Hi, thanks a lot for the update/refresh button, i wanted to suggest that but didn't get around to do it. Just one detail, the colour of its icon looks different (lighter) than the rest of the icons (at least in dark theme; in light theme it looks gray, as inactive).
![image](https://user-images.githubusercontent.com/19331850/36798406-d70137da-1caa-11e8-898f-2adbbf7a0da9.png)
![image](https://user-

[2018-02-28 18:09] bitseater commented on #55
Hi @cicindel , it's seems you're using the built-in API key. With this key, the update button is disabled, to avoid all people calling with same key at same time and blocking it.
If you want to enable the update button, you must register for a own API key at [OpenWeatherMap](https://home.openweathermap.org/users/sign_up)

[2018-03-03 20:17] bitseater commented on #53
I just implemented a new Dialog with information about built-in key. Included in 0.7 release.

[2018-03-03 20:17] #53 closed

[2018-03-03 20:17] #55 closed

[2018-03-07 23:45] OpnSrcConstruction opened #57 "Feature: Please add some of the weather data into the indicator icon."
Here are the basic details that I'm wishing for:
humidity
precipitation
temperature
pressure
Wind direction/speed
sunset/sunrise
clouds %

This is the one feature, that would keep me from using my-weather-indicator on a non-elementary distro. It's too bad Elementary has to such sticklers for only their indicators!

[2018-03-08 09:55] bitseater commented on #57
Hi @OpnSrcConstruction . Thanks you for the comments. I have added to Roadmap this feature that i had in my mind too. Perhaps 0.8 release.

[2018-03-08 17:27] BeatriceFendt opened #58 "Encoding"
Hi there,
can you please have a look at the screenshot? I think that explains this issue best.
I am using [Linux Mint 18.3 Sylvia](https://linuxmint.com/) and [Flatpak](https://flatpak.org/).
Do not hesitate to ask any questions you may have.

![ue](https://user-images.githubusercontent.com/34834134/37165887-fc719c2c-22fd-11e8-9bd9-c583601f331d.png)

Thank you so much! 👍

[2018-03-08 18:06] bitseater commented on #58
Hi @BeatriceFendt . It seems a bug with no-latin characters and flatpak. I have fixed few weeks ago for russian & other languages. Let me take a look. That is Deutsch, isn't it? Perhaps " überwiegend bewölkt"?

[2018-03-08 18:51] bitseater commented on #58
It is a problem with the upper-case letters (Ü - ü). It seems that flatpak don't recognize. I remove first upper-case. Fixed.

[2018-03-08 18:51] #58 closed

[2018-03-09 15:35] BeatriceFendt commented on #58
Yes, it is Deutsch. _Überwiegend bewölkt_ is correct.
Thanks for the fast fix.
Just drop a line if you need help with the German translation. We could translate the other parts too.

[2018-03-09 17:38] bitseater commented on #58
That would be perfect. Take a look to "po" folder to master pot file. Have you translate any application?  You can use a fork to do it.

[2018-03-12 00:36] bitseater commented on #35
Fix issue with conditional and nullable json request with commit [41c4c57](https://github.com/bitseater/weather/commit/41c4c572968ee325199edd7a50bab7f23cf5e0fa)

[2018-03-12 00:36] #35 closed

[2018-03-12 00:37] bitseater commented on #50
Create json cache for Today and Forecast content with commit [41c4c57](https://github.com/bitseater/weather/commit/41c4c572968ee325199edd7a50bab7f23cf5e0fa)

[2018-03-12 00:37] #50 closed

[2018-03-12 00:39] bitseater commented on #49
Fix issue with commit [41c4c57](https://github.com/bitseater/weather/commit/41c4c572968ee325199edd7a50bab7f23cf5e0fa)

[2018-03-12 00:39] #49 closed

[2018-03-12 08:30] cicindel commented on #55
Aha I see, thanks :)

[2018-03-12 22:38] bitseater opened #60 "Error saving location to GSettings"
Error showed:
`GLib-GIO-CRITICAL **: g_settings_set_value: key 'state' in 'com.github.bitseater.weather' expects type 's', but a GVariant of type '(null)' was given`

It's needed to check key state not equal to `null` after save it.

[2018-03-12 22:40] bitseater commented on #57
@OpnSrcConstruction good news. Working in your proposal feature. Added to 0.7 milestone.

[2018-03-15 19:12] danrabbit opened #61 "Use GeoClue2 to get location"
Juno will have location services built in to privacy, but in order for this to work we need apps to use the system location API and not try to do manual location detection.

You can see an example of fetching location with geoclue here: https://github.com/danrabbit/nimbus/blob/master/src/MainWindow.vala#L159

You probably need this VAPI: https://github.com/danrabbit/nimbus/blob/master/vapi/libgeoc

[2018-03-15 21:15] bitseater commented on #61
OK @danrabbit.  i have already tested with geoclue. I'll work on it.

[2018-03-16 21:59] danrabbit commented on #61
Docs are up :) https://valadoc.org/libgeoclue-2.0/GClue.html

[2018-03-16 22:01] bitseater commented on #61
Thanks Dani @danrabbit , this solves some doubts.

[2018-03-16 22:02] bitseater commented on #57
Solves with commit [89e3322](https://github.com/bitseater/weather/commit/89e3322153bfe055cf5dc9c0708d198e726dede6).

[2018-03-16 22:02] #57 closed

[2018-03-22 22:14] bitseater commented on #60
Fixed by [815a7a9](https://github.com/bitseater/weather/commit/815a7a9976b2089d014a5c8f076f46ae9e90c947)

[2018-03-22 22:14] #60 closed

[2018-03-22 22:15] bitseater commented on #61
Fixed by [815a7a9](https://github.com/bitseater/weather/commit/815a7a9976b2089d014a5c8f076f46ae9e90c947)

[2018-03-22 22:15] #61 closed

[2018-03-22 22:23] bitseater opened #64 "Update needed to en.po in 0.7 pre-release"
@J0Ar can you take a look, please?

[2018-03-22 22:24] bitseater opened #65 "Update needed to fr.po in 0.7 pre-release"
@ArthurS1 can you take a look, please?

[2018-03-22 22:26] bitseater opened #66 "Update needed to de.po in 0.7 pre-release"
@BeatriceFendt can you take a look, please?

[2018-03-22 22:27] bitseater opened #67 "Update needed to lt.po in 0.7 pre-release"
@welaq , can you take a look, please?

[2018-03-22 22:28] bitseater opened #68 "Update needed to pt.po in 0.7 pre-release"
@btd1337 can you take a look, please?

[2018-03-22 22:29] bitseater opened #69 "Update needed to ru.po in 0.7 pre-release"
@camellan can you take a look, please ?

[2018-03-22 23:00] camellan commented on #69
Well. At the first opportunity.

[2018-03-23 12:20] bitseater commented on #69
Fixed with #70

[2018-03-23 12:20] #69 closed

[2018-03-23 23:29] welaq commented on #67
I've made a pull request.

[2018-03-23 23:47] bitseater commented on #67
Merged. Thanks you very much @welaq .

[2018-03-23 23:47] #67 closed

[2018-03-24 00:27] extraymond opened #72 "[snap] Can't open external link"
Hi! Thx for making this app!

I've found that when trying to open the external link to openweathermap, it will not fire up the browser.

[2018-03-24 09:51] bitseater commented on #72
Hi @extraymond . Thanks for your support. What's your config? I need to know your OS release and snap version. There are some issues in ubuntu 17.10 and 18.04 with some version of snap package.

[2018-03-24 09:52] extraymond commented on #72
Ubuntu 16.04 64bit, with meteo from stable channel.

[2018-03-24 11:02] bitseater commented on #72
Thanks for the quick reply @extraymond . It seems there are some issues related with confinement in snap, to prevent malicious links. The snap team has included `snap-xdg-open` package in the latest releases of `snapd` , to solve them. But no all the Ubuntu releases are upgraded to them. Perhaps a solution is switch direct links by indirect xdg links:
[code]
I'll make some tests. Stay tunned :P

[2018-03-24 20:03] bitseater opened #74 "Simplify gettext strings"
Merge some similar strings to simplify translation tasks.

[2018-03-24 20:58] bitseater commented on #68
Updated by me.

[2018-03-24 20:58] #68 closed

[2018-03-24 20:58] bitseater commented on #66
Updated by me.

[2018-03-24 20:58] #66 closed

[2018-03-24 20:59] bitseater commented on #65
Update by me

[2018-03-24 20:59] #65 closed

[2018-03-24 20:59] bitseater commented on #64
Updated by me

[2018-03-24 20:59] #64 closed

[2018-03-24 21:39] bitseater opened #75 "Replace Gtk.ImageMenuItem (deprecated)"
In order to solve:
[code]

[2018-03-25 14:46] extraymond commented on #72
Thx! You are awesoem.

[2018-03-26 17:11] ArthurS1 commented on #65
Sorry, i am a little late, i'll take a look.

[2018-03-26 21:24] bitseater commented on #72
Well @extraymond , after some test, two different VM with two versions of Ubuntu there's a way to open external link from a Gtk app running in snap confinement.  The user must install `snapd-xdg-open` and i have to change all the links from `"http://github.com"` to `"xdg-open http://github.com"`, but then you can open url out of snap, so i would developed one release to snap and another to .deb .

[2018-03-27 00:33] extraymond commented on #72
@bitseater

I understand that maintaining two code path just for distribution is a pain in the ass
Which justified your motivation to stop working on snap well. But since xdg-open is not part of snap but a more broad standard for desktop url handling, wouldn't it be a better way to handle links anyway?
Xdg-open have another benefit of respecting your D.E's setting on who should handle the url.

As

[2018-03-27 14:01] appcenter[bot] opened #78 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.7.0 release](https://github.com/bitseater/weather/releases/tag/0.7.0)

[2018-03-27 14:04] btkostner commented on #78
You can close this. My bad. I thought the app wasn't built yet.

[2018-03-27 15:05] bitseater commented on #78
Thanks

[2018-03-27 15:05] #78 closed

[2018-03-29 18:06] Sadi58 opened #80 "ubuntu installation problem"
Under **LinuxMint 18.3 Cinnamon**, when I enter the command `sudo add-apt-repository ppa:bitseater/ppa` and `sudo apt update` and then
`sudo apt install com.github.bitseater.weather` I get this error: **Unable to locate package com.github.bitseater.weather**
It's correctly listed in LinuxMint's **Software Sources**, but it's not listed in Synaptic Package Manager's **Origin** section.
No other PPA

[2018-03-29 18:46] Sadi58 commented on #80
I thank you! Looks great having installed via release pages.
Maybe you might like to add this info to ReadMe.

[2018-03-29 19:06] Sadi58 opened #81 "no systray visibility"
I've installed the latest version under LinuxMint 8.3 Cinnamon (64-bit) based on Ubuntu Xenial.
Everything seems to work as expected except that I can only see a blank area in systray (no icon or temp visible using various dark and light Cinnamon themes) although clicking it shows the menu as expected.

[2018-03-29 19:17] Sadi58 opened #82 "[Feature Request] multi-city weather"
If it is possible/realistic I would like to suggest enabling users to run more than one instance so as to keep an eye on the weather conditions simultaneously in say two or three locations.
At the moment if you start a new instance it seems to merely supersede the previous one.
If this new feature becomes possible it might also be a good idea to add the location name in the systray menu as well (e

[2018-03-29 20:53] bitseater commented on #80
Fixed with [fbffd92](https://github.com/bitseater/weather/commit/fbffd92bbdf512b2353428da442aa11a2be8bae3)

[2018-03-29 20:53] #80 closed

[2018-03-29 22:44] BeatriceFendt commented on #66
Thank you @bitseater and @J0Ar 👍

[2018-03-30 10:27] Sadi58 commented on #81
Muchas gracias!
I forgot that. Now it looks OK :-)

[2018-03-30 10:37] Sadi58 opened #83 "dark theme in preferences has no effect"
I think I'd prefer enabling Dark theme but toggling it on and off makes no difference under Linux Mint 18.3 Cinnamon.
It's not a big deal but perhaps it could be included at the bottom of the to-do list ;-)
(I'm just trying to show my appreciation for this valuable work by trying to contribute to its perfection)
![istanbul marmara region tr_2018-03-30-13 31 33](https://user-images.githubuserconten

[2018-03-30 10:45] Sadi58 opened #84 "[Feature Request] showing location in systray tooltip"
Currently, on mouse hover the generic app name shows in tooltip as seen below.
But I think it would be more useful if we could see the location name instead (especially in view of possible multi-location support in the next release)
![workspace 1_2018-03-30-13 22 34](https://user-images.githubusercontent.com/6375934/38135397-8665a74c-3420-11e8-90ef-517ade43039d.jpg)

[2018-03-30 10:49] Sadi58 commented on #82
Thanks for including this in the future plans.
Meanwhile, after enabling the Cinnamon appindicator support, I now see that actually displaying location name in tooltip (issue 84) might be more useful than including it in the menu as I first suggested above.

[2018-03-30 10:59] Sadi58 opened #85 "[Feature Request] Show Meteo on first click"
Currently, when we click on the systray icon we get roughly the left half of the window that is displayed after clicking **Show Meteo** at the bottom.
I think if would be better to have that main window displayed on the first click (something like the screenshot included in issue 82)
We already see a brief display of current weather in the systray, and we would often want to see  weather forecast

[2018-03-30 11:03] Sadi58 opened #86 "[Feature Request] preferences > run on startup"
I think it woulo be useful if the **Preferences** also included an option to run on session startup.

[2018-03-30 11:06] Sadi58 opened #87 "[Feature Request] Metric system wind speed"
I think it would be more useful to use **kilometers per hour (kph)** instead of meters per hour in the metric system.
( _PS: I think that's all from me - no more issues or feature requests that I can think of_  ; -)

[2018-03-30 12:13] bitseater commented on #83
Well, this is a issue related to Cinnamon, not to Meteo. Cinnamon melt gtk2 and gtk3 features, so you must have installed a gtk theme with dark version both in gtk2 and gtk3. Also you can enabled this possibility in Preferences. can i leave an opinion? install gnome :P

[2018-03-30 12:13] #83 closed

[2018-03-30 12:46] bitseater commented on #84
This tooltip is from cinnamon. AppIndicator don't have tooltip. For best support to AppIndicator in Cinnamon i suggest you to try [Systray indicator to Cinnamon](https://github.com/lestcape/Systray-Indicator)

[2018-03-30 12:46] #84 closed

[2018-03-30 12:55] bitseater commented on #82
The Ubuntu AppIndicator used by Meteo is too restricted. I can show only a menu when click on indicator, so i have use this menu to show lines with icon and data from current weather. But i can design a new interface to show when mouse over indicator.

To know limitations to AppIndicator : [https://wiki.ubuntu.com/DesktopExperienceTeam/ApplicationIndicators](https://wiki.ubuntu.com/DesktopExperien

[2018-03-30 13:26] bitseater commented on #85
This feature is not supported by AppIndicator. Sorry.

[2018-03-30 13:26] #85 closed

[2018-03-30 13:27] bitseater commented on #86
Added to 0.8 Milestone.

[2018-03-30 13:28] bitseater commented on #87
Well, it's seems more logical to the range of velocities.

[2018-03-30 18:10] bitseater commented on #66
Thanks to you @BeatriceFendt . Next release i promise a major time to translate.

[2018-04-01 23:21] lilumb opened #88 "More frequent updates?"
The _minimum_ update frequency is currently every *2* hrs. Is it possible to make this more frequent? Ideally, every 15 minutes?

-Ian

[2018-04-02 17:51] bitseater commented on #88
Hi @lilumb . Thanks for trying Meteo. The minimum update frecuency is set in order to prevent to block the built-in API key. If you are registered at OpenWeatherMap with your own API key and you use it in Meteo, you can manually update whenever you want.

I am going to add more update intervals, only for users with own API key: 15 min, 30 min and 1 hour.

[2018-04-03 15:39] lilumb commented on #88
I am now making use of my own API key, and look forward to the availability of this enhancement - thank you!

-Ian

[2018-04-27 21:05] bitseater commented on #75
Waiting for Ayatana Indicator development.

[2018-04-28 19:56] bitseater commented on #82
Added city label to indicator.

[2018-04-28 19:56] #82 closed

[2018-05-02 22:10] bitseater commented on #74
Fixed with [6e06985](https://github.com/bitseater/weather/commit/6e0698587b2685da710cc769c404de0798319971)

[2018-05-02 22:10] #74 closed

[2018-05-02 22:11] bitseater commented on #86
Fixed with [6e06985](https://github.com/bitseater/weather/commit/6e0698587b2685da710cc769c404de0798319971)

[2018-05-02 22:11] #86 closed

[2018-05-02 22:11] bitseater commented on #87
Fixed with [6e06985](https://github.com/bitseater/weather/commit/6e0698587b2685da710cc769c404de0798319971)

[2018-05-02 22:12] bitseater commented on #88
Fixed with [6e06985](https://github.com/bitseater/weather/commit/6e0698587b2685da710cc769c404de0798319971)

[2018-05-02 22:12] #88 closed

[2018-05-03 18:34] lilumb commented on #88
Thank you! Looking forward to the 0.8 release.

[2018-05-07 11:10] Sadi58 commented on #82
Thanks for the improvements, including **_city label_** in the indicator menu, but will you also include **_multi-city support_** to a future milestone?

[2018-05-07 15:55] Sadi58 commented on #87
A quick note that the previous "m/s" remains in Preferences menu dropdown options - only "on paper" though ;-)

[2018-05-07 16:36] bitseater commented on #87
Uuuuupsssss

[2018-05-07 16:39] bitseater commented on #87
Fixed with [809a695](https://github.com/bitseater/weather/commit/809a695e3bb4cde788a80b0e3752f1a887ab2d5e)

[2018-05-07 16:39] #87 closed

[2018-05-07 16:42] bitseater commented on #82
Well @Sadi58 , multicity support requires a modification of main ui. So it will wait until 1.0 release. Added to [Roadmap in wiki page](https://github.com/bitseater/weather/wiki)

[2018-05-07 18:12] appcenter[bot] opened #94 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.8.0 release](https://github.com/bitseater/weather/releases/tag/0.8.0)

[2018-05-08 19:27] bitseater commented on #94
Fixed by [9d64951](https://github.com/bitseater/weather/commit/9d649516888b8d78a321cda1edbc726b546eaf6f)

[2018-05-08 19:27] #94 closed

[2018-05-19 17:02] SimoSirel opened #96 "zoom level consistency"
In Maps(Dark Sky) mode after changing between info Tabs(Temp, clouds, ...) zoom level info is lost. Works correctly in OpenWeatherMap mode. Zooming level should also be consistent between modes.

[2018-05-21 08:09] bitseater commented on #96
Hi @SimoSirel . For Dark Sky mode , the program uses embed maps with a limited (but free) API. To a better and enhanced performance, it's needed a billing account.

[2018-05-21 08:09] #96 closed

[2018-05-31 06:31] giovannicaligaris opened #97 "Can't launch app after update"
After the new update 0.8.2 now I can't launch the app at all. Even if I try to do it from terminal nothing shows up. It just hangs there without any results.

[2018-05-31 10:09] bitseater commented on #97
Hi @giovannicaligaris . Sorry for the inconvenience. I have forgotten to maximize window on start to change API key. Now it's fixed. You can download new deb package at  [Release page](https://github.com/bitseater/weather/releases/tag/0.8.3), or wait to new flatpak/snap package which will build in a few hours. It will be available at PPA in a few minutes.

[2018-05-31 10:10] bitseater commented on #97
Fixed with [0129fc4](https://github.com/bitseater/weather/commit/0129fc495d00904293dab3bc722a002d94d48157)

[2018-05-31 10:10] #97 closed